.number-board {
  margin-top: 15px !important;
}

.fluid-button {
  margin-top: 10px;
}
.input-area {
  padding: 10px;
  border: none;
  font-size: 60px;
  text-align: center;
  width: 80px;
}
.input-segment {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 50px;
  border-radius: 10px;
}
.input-segment p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  color: #fff;
  border-color: #fff;
  background: #f55676 radial-gradient(circle, transparent 1%, #ffcdd2 1%)
    center/15000%;
}
.ripple:hover svg {
  fill: #fff;
}
.ripple:active {
  background-color: #ffebee;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.icon-button {
  border-radius: 50%;
  padding: 12px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 4px #999;
}

.large-icon-button {
  border-radius: 50%;
  padding: 0px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.large-icon-button:hover .play {
  fill: #ff1744;
}

.large-icon-button:hover .break-hover {
  fill: #64b5f6;
}

.pause {
  fill: #ff1744;
}
.pause:hover {
  fill: #00000099;
}

button {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 12px;
  color: #00000099;
}

.theme-color {
  fill: #ff1744;
}

.tomato {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: solid 5px #ccc;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.flex-row-tomato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tomato-start {
  background-position: bottom;
  transition: all 1s;
  background-size: 100%;
  border: solid 5px #ff1744;
  -webkit-transition: all 2s;
}
.start-button {
  margin-top: 40px;
  position: absolute;
  offset-position: center;
}
.start-stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.replay {
  position: relative;
  left: 70px;
  top: 5px;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  transition: background 0.8s;
  background-position: center;
}
.replay svg {
  fill: #00000099;
}
.replay:hover {
  background: #ccc
    radial-gradient(circle, transparent 1%, rgb(223, 222, 222) 1%) center/15000%;
}
.replay:hover svg {
  fill: #fff;
}
.replay:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}
.on {
  border-bottom: solid 0.5px #ff1744;
  transition: all 1s;
}
.off {
  border-bottom: solid 0.5px #fff;
  transition: all 1s;
}
.break-point {
  fill: #64b5f6;
  border-color: #64b5f6;
  transition: all 1s;
}
